.item {
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 0;
}

.subheading {
  font-size: 0.9rem;
  font-weight: 400;
  color: gray;
  margin: 5px 0;
}
