.button {
  background: none;
  border: none;
  background: url(../../../assets/icons/trash.svg) center / 16px no-repeat;
  padding: 8px;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  outline: none;
}
