.heading {
  text-align: center;
  font-weight: 400;
}

.orders {
  margin-bottom: 10px;
}

.orders > :first-child {
  margin-top: 0;
}

.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
