.button {
  align-self: center;
  border: solid 2px var(--primary-color);
  margin: 0px;
  margin-right: 5px;
  background: url(../../../assets/icons/plus.svg) center / 16px no-repeat;
  height: 20px;
  flex-shrink: 0;
  flex-basis: 20px;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-image: url(../../../assets/icons/plus-white.svg);
  background-color: var(--primary-color);
  color: white;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--secondary-color);
}

.button:disabled {
  background-image: url(../../../assets/icons/plus-gray.svg);
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  cursor: not-allowed;
}
