.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
}

.navbar > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar > :first-child {
  justify-content: flex-start;
}

.navbar > :last-child {
  justify-content: flex-end;
}

.dropdown {
  width: 100%;
}

.logo {
  margin: 0;
  font-size: 1.75rem;
}

@media (min-width: 1560px) {
  .orders {
    display: none;
  }
}
