.item-box {
  display: flex;
  flex-direction: row;
  border: solid var(--primary-color);
  border-radius: 5px;
  width: 340px;
}

.item-box-image {
  width: 125px;
  height: 125px;
}

.item-box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

.item-box-heading {
  margin: 0px;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.item-box-description {
  color: var(--tertiary-color);
  margin: 0px;
  margin-top: 2.5px;
  font-size: 0.75rem;
}
