.item-box-button {
  align-self: center;
  border: solid 2.5px var(--primary-color);
  margin: 0px;
  margin-right: 5px;
  background: url(../../assets/icons/plus.svg) center / 20px no-repeat;
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border-radius: 50%;
}

.item-box-button:hover {
  cursor: pointer;
}

.item-box-button:active {
  background-image: url(../../assets/icons/plus-white.svg);
  background-color: var(--primary-color);
  color: white;
}

.item-box-button:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--secondary-color);
}

.item-box-button:disabled {
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  cursor: not-allowed;
}
