.main {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

@media (max-width: 1560px) {
  .left {
    display: none;
  }
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.sidebar {
  position: sticky;
  width: 275px;
  top: 80px;
}
