.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  position: relative;
}

.itemAppear {
  opacity: 0;
  right: 300px;
}

.itemAppearActive {
  right: 0;
  opacity: 1;
  transition: right 500ms, opacity 500ms;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 500ms;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  margin-left: 5px;
}

.heading {
  margin: 0;
  font-size: 0.85rem;
}

.description {
  margin: 0;
  font-size: 0.75rem;
  color: var(--tertiary-color);
}

.image {
  height: 50px;
  width: 50px;
}
