.button {
  background-color: transparent;
  border: none;
  padding: 2px 5px;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.styled {
  background-color: white;
  border: solid 2px var(--primary-color);
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}

.button:active.styled {
  color: white;
  background-color: var(--primary-color);
}

.button:focus {
  outline: none;
}

.button:focus.styled {
  box-shadow: 0 0 0 1.5px var(--secondary-color);
}

.button:disabled {
  color: var(--tertiary-color);
  cursor: not-allowed;
}

.button:disabled.styled {
  border-color: var(--tertiary-color);
}

.loader {
  width: 30px;
  height: 8px;
  padding-bottom: 1px;
}
