.container {
  position: relative;
}

.dropdown {
  padding: 5px;
  padding-right: 25px;
  border: solid 3px transparent;
  background: url(../../../assets/icons/chevron-down.svg) white top 4px right /
    24px no-repeat;
}

.dropdownOutline {
  border-radius: 5px;
  border-color: var(--primary-color);
}

.dropdownOpen {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: transparent;
  background-image: url(../../../assets/icons/chevron-up.svg);
}

.dropdown:hover {
  cursor: pointer;
}

.heading {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.headingCenter {
  text-align: center;
}

.items {
  position: absolute;
  left: 0;
  top: calc(100% - 3px);
  width: 100%;
  box-sizing: border-box;
  border: solid 3px var(--primary-color);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  padding: 5px;
  padding-top: 0;
  margin: 0;
}
