.input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  border: solid var(--primary-color);
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.input::placeholder {
  color: var(--tertiary-color);
}
